/* import fonts */
@font-face {
        font-family: 'Bangers-Regular';
        src: local('../font/Bangers-Regular.ttf'), url('../font/Bangers-Regular.ttf') format('truetype');
    }

/* variables */
    *{
        /* color */
        --color-font-main: black;

        --color-table: #d1ccc0;
        --color-table_btn: #84817a;
        --color-table_btn_hover: #00c2d2;
        
        --color-red: #ff1d24;
        --color-orange: #ff810e;
        --color-blue: #0031d3;

        --color_footer: #00c1d294;

        /* image */
        --img-token_player0: url(../img/token.png);
        --img-token_player1: url(../img/tokenRed.png);
        --img-token_player2: url(../img/tokenBlue.png);

        --img-char-left: url(../img/MitschRed.png);
        --img-char-right: url(../img/KastBlue.png);
        
        --img-background: url(../img/Background.jpg);

        /* size */
        --size-border-standard: 5px;
        --size-padding-standart_vertical: 5px;

        --size-table-td: 50px;
        --size-table-spacing: 5px;
        --size-vs_icon: 80px;
        --size-vs_icon_mobile: 60px;
        --size-vs_icon_mobile_small: 40px;
        
        --size-font_main: 30px;
        --size-font_main_mobile: 15px;
        --size-font_main_mobile_small: 10px;
        --size-font_footer: 20px;
        --size-font_footer_mobile: 10px;
        --size-font_footer_mobile_small: 8px;

        /* style */
        --design-btn-border: solid black var(--size-border-standard);
    }

/* set fonts and vs_icon to mobile version */
    @media only screen and (max-width: 600px){
        *{
            --size-font_main: var(--size-font_main_mobile);
            --size-font_footer: var(--size-font_footer_mobile);
            --size-vs_icon: var(--size-vs_icon_mobile);
        }
        table{background-color: gray}
    }
    @media only screen and (max-height: 600px){
        *{
            --size-font_main: var(--size-font_main_mobile);
            --size-font_footer: var(--size-font_footer_mobile);
            --size-vs_icon: var(--size-vs_icon_mobile);
        }
        table{background-color: brown}
    }
    @media only screen and (max-width: 350px){
        *{
            --size-font_main: var(--size-font_main_mobile_small);
            --size-font_footer: var(--size-font_footer_mobile_small);
            --size-vs_icon: var(--size-vs_icon_mobile_small);
        }
    }
    @media only screen and (max-height: 350px){
        *{
            --size-font_main: var(--size-font_main_mobile_small);
            --size-font_footer: var(--size-font_footer_mobile_small);
            --size-vs_icon: var(--size-vs_icon_mobile_small);
        }   
    }

/* calculation for table_td size */
    *{
        --calc-versus-hight: calc(var(--size-vs_icon) * 1.5);
        --calc-table-space: calc(( var(--size-table-spacing) * 8 ) + ( var(--size-border-standard) * 2 ));
        --calc-reset-hight: calc(var(--size-font_main) + (var(--size-padding-standart_vertical) * 2) + (var(--size-border-standard) * 2));
        --calc-footer-hight: calc((var(--size-font_footer) * 1.2) + ( 5px * 2 )); 

        --calc-screen-hight-rest: calc( 100vh - (var(--calc-versus-hight) + var(--calc-table-space) + var(--calc-reset-hight) + var(--calc-footer-hight)));
        --calc-screen-width-rest: calc(100vw - ((var(--size-table-spacing) * 8 ) + ( var(--size-border-standard) * 2 )));
    }
    
/* set table_td size from calc */
    @media only screen and (orientation: landscape){
        *{        
            --size-table-td: calc(var(--calc-screen-hight-rest) / 8 );
        }
        table{background-color: yellow}
    }
    @media only screen and (orientation: portrait) and (min-height: 125vw){
        *{
            --size-table-td: calc(var(--calc-screen-width-rest) / 7);
        }
        table{background-color: blue}
    }
    @media only screen and (orientation: portrait) and (max-height: calc(125vw - 1px)){
        *{
            --size-table-td: calc(var(--calc-screen-hight-rest) / 7);
        }
        table{background-color: green}
    }


/* generals attributes */
    *{    
        margin: 0;
        padding: 0;
        font-family: 'Bangers-Regular';
        font-size: var(--size-font_main);
    }

body{ 
    color: var(--color-font-main);
}

/* Gridsystem */
.grid_box {    
    background-image: var(--img-background);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    --sizeWidthOfPlayfield: calc( (var(--size-table-td) * 7 ) + (var(--size-table-spacing) * 8 ) + ( var(--size-border-standard) * 2 ) - 150px);
    display: grid;
        grid-template-columns: 1fr 1fr var(--sizeWidthOfPlayfield) 1fr 1fr;
        grid-template-rows: var(--calc-versus-hight) 1fr var(--calc-reset-hight) var(--calc-footer-hight);
        grid-template-areas: 
            "leerLinks versus versus versus leerRechts"
            "left left playground right right"
            "left left button right right"
            "footer footer footer footer footer"    
    }
    
    .grid_site_generals{
        background-size: contain;
        background-repeat: no-repeat;
        position: relative;
    }
    .grid_left {
        grid-area: left;
        background-image: var(--img-char-left);
        background-position: right;
    }
        @keyframes mymoveFromLeft {
            from {left: -300px;}
            to {left: 0px;}
        }
        .grid_left_initial{
            animation: mymoveFromLeft 3s 1;
        }

    .grid_right {
        grid-area: right;
        background-image: var(--img-char-right);
        background-position: left;
    }
        @keyframes mymoveFromRight {
            from {right: -300px;}
            to {right: 0px;}
        }
        .grid_right_initial{
            animation: mymoveFromRight 3s 1;
            /* animation-fill-mode: forwards; */
        }

    .grid_versus{
        grid-area: versus;
        display: grid;
        grid-template-columns: 1fr auto 1fr;
        grid-template-rows: 100%;
        grid-template-areas: 
            "red vs blue";
        gap: 10%;
    }
        .versus_generals {
            display: flex; 
            justify-content: center;
            align-items: center; 
        }
        .player_vs{
            grid-area: vs;
        }
        .player_blue{
            grid-area: red;
            position: relative;
        }
        .player_blue{
            grid-area: blue;
            position: relative;
        } 
            .icon_poow{
                position: absolute;
                width: calc(var(--size-vs_icon)*2.5);
            }
            .versus_icons{
                position: absolute;
                width: var(--size-vs_icon);
            }

    .grid_playground {
        grid-area: playground;
        display: flex; 
        justify-content: center;
        align-items: center; 
        position: relative;
    }
        .playground_display_win{
            position: relative;
        }
            .a_win_icon{
                position: absolute; 
            }
                .win_icon{
                    opacity: 0.7;
                    width: 100%;
                }

    .grid_reset_button {
        grid-area: button;
        text-align: center;                
    }
        .btn_reset{
            border: var(--design-btn-border);
            padding: var(--size-padding-standart_vertical) 10px;
            margin: auto;
            margin-bottom: 10px;     
            background-color: var(--color-red);
            cursor: pointer;
        }
            .btn_reset:hover{
                background-color: var(--color-orange);
            }

    .grid_footer{            
        grid-area: footer;
        margin: 0 auto;
        padding: var(--size-padding-standart_vertical) 10px;
        background-color: var(--color_footer);
        font-size: var(--size-font_footer); 
        text-align: center;
    }
    .grid_footer p, .grid_footer a{
            font-size: inherit;
            padding: var(--size-padding-standart_vertical) 5px;
            display: inline;
        }
    .grid_footer a{
        font-size: 1.2em;
        letter-spacing: 2px;
        color: var(--color-red);
    }
        .grid_footer a:hover{
            color: var(--color-blue);
        }


/* Table - playerfield */
    table{
        /* background-color: var(--color-table); */
        border-spacing: var(--size-table-spacing);
        border: var(--design-btn-border);
    }
        th{}
            .btn_imput{
                width: 100%;
                padding: 1px;
                background-color: var(--color-table_btn);
                border: var(--design-btn-border);
                cursor: pointer;
            }
                .btn_imput:hover{
                    background-color: var(--color-table_btn_hover);
                }
        td{
            width: var(--size-table-td);
        }
            .tokens{
                width: inherit;
            }

@media only screen and (orientation: portrait){
    .grid_box {        
        grid-template-columns: 100%;
        grid-template-areas: 
            "versus"
            "playground"
            "button"
            "footer"
    }
    .grid_left{
        display: none;
    }
    .grid_right{
        display: none;
    }
    .grid_footer{
        width: 100%;
        padding: var(--size-padding-standart_vertical) 0;
    }
    .grid_footer a{            
        letter-spacing: 0.25em;
    }
}